<div class="col-12 box">
	<form method="post" class="mx-auto" style="width: 200px;" action="{{base_url}}/auth">
	  First name:<br>
	  <input type="text" name="login" value="">
	  <br>
	  Last name:<br>
	  <input type="password" name="password" value="">
	  <br><br>
	  <input class="mx-auto btn" type="submit" value="Submit">
	</form> 
</div>